extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='username') Email:
      input#username.form-control(type='text', name='username' value='')

      label(for='password') Password:
      input#password.form-control(type='text', name='password' value='')

    button.btn.btn-primary(type='submit') Submit

    if message
      p.error= message


